<%= form_with model: @event, url: event_path(@event) do |f| %>
<table class="table">
  <tr><h1> </h1></tr>
  <tr><h2><strong><%= f.text_field :title %></strong></h2></tr>
  <tr>
    <th>日時(必須)</th>
    <td><input type="datetime-local" name="daytime" min="2017-04-01T00:00" max="2023-12-31T23:59"></td>
  </tr>
  <tr>
    <th>場所</th>
    <td><%= f.text_field :place %></td>
  </tr>
  <tr>
    <th>人数</th>
    <td><%= f.number_field :limit_number %> 人</td>
  </tr>
  <tr>
    <th>時間幅</th>
    <td><%= f.number_field :all_time %> 時間</td>
  </tr>
  <tr>
    <th>会費</th>
    <td><%= f.number_field :fee %> 円程度</td>
  </tr>
  <tr>
    <th>持ち物</th>
    <td><%= f.text_field :preparation %></td>
  </tr>
  <tr>
    <th>備考</th>
    <td><%= f.text_area :remarks %></td>
  </tr>
  <tr>
    <th>備考2</th>
    <td><%= f.text_area :second_remarks %></td>
  </tr>
</table>
<%= f.submit '変更内容を保存する', class: "btn btn-outline-success" %><% end %>