<h4><strong>イベント一覧</strong></h4>
<table class="table">
  <tr>
    <th>ジャンル</th>
    <th>limit</th>
    <th>タイトル</th>
    <th>日時</th>
    <th>予定人数</th>
    <th>開催場所</th>
    <th>会費</th>
    <th>開催ユーザー</th>
  </tr>
  <tr>
    <% @events.each do |event| %>
    <td><%= event.genre.name %></td>
    <td>募集・締切</td>
    <td><%= link_to event_path(event) do %><%= event.title %><% end %></td>
    <td><%= event.daytime.strftime('%Y年%m月%d日 %H:%M') %>
    </td>
    <td><%= event.limit_number %> 人</td>
    <td><%= event.place %></td>
    <td><%= event.fee %> 円程度</td>
    <td>
      <% if event.user.image.attached? %>
      <%= image_tag event.user.image, size: "30x30" %>
      <% else %>
      <%= image_tag 'no_image', size: "30x30" %>
      <% end %><br>
      <%= event.user.user_name %></td>
  </tr>
      <% end %>
</table>
  <%= paginate @events %>

<style>
  img {
  border-radius: 50%;
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

  .pagenate {
    text-color: white;
  }

</style>