<h2> </h2>
<h2><strong>イベント一覧</strong></h2>
<table class="table" style="font-size : 15px;">
  <tr>
    <th>ジャンル</th>
    <th></th>
    <th>タイトル</th>
    <th>日時</th>
    <th>募集人数</th>
    <th>参加人数</th>
    <th>開催場所</th>
    <th>会費</th>
    <th>開催ユーザー</th>
  </tr>
  <tr>
    <% @events.each do |event| %>
    <td><%= event.genre.name %></td>
    <td><%= event.is_active ? '募集中' : '募集終了' %></td>
    <% if user_signed_in? %>
    <td><strong><%= link_to event_path(event) do %><%= event.title %><% end %></strong></td>
    <% else %>
    <td><strong><%= event.title %></strong></td>
    <% end %>
    <td><%= event.daytime.strftime('%Y年%m月%d日') %><br>
    <%= event.daytime.strftime('%H:%M') %> 集合
    </td>
    <td><%= event.limit_number %> 人</td>
    <td><%= event.event_users.sum(:member_count) %>人</td>
    <td><%= event.place %></td>
    <td><%= event.fee %> 円程度</td>
    <td>
      <% if event.user.image.attached? %>
      <%= image_tag event.user.image, size: "30x30" %>
      <% else %>
      <%= image_tag 'no_image', size: "30x30" %>
      <% end %><br>
      <% if user_signed_in? %>
      <%= link_to user_path(event.user) do %><%= event.user.user_name %><% end %></td>
      <% else %>
      <%= event.user.user_name %>
      <% end %>

  </tr>
      <% end %>
</table>
<p>※ログインするとイベント詳細や企画ユーザーが閲覧できrるようになります</p>
<div class="pagenate">
  <%= paginate @events %>
</div>

<style>
  img {
  border-radius: 50%;
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

  h2 {
  background-color: tan;
  color: lightyellow;
  text-align: center;
}

th {
background-color: #ede4cd;
font-size: 15px;
border:solid 1px antiquewhite;
text-align: center;
}

td {
  text-align: center;
}

p {
  color: red;
  text-align: right;
}


</style>