<h4>NEWイベント</h4>
<div class="new-event">
  <%= form_with model: @event, url: events_path do |f| %>
  <table class="table">
    <tr>
      <th>イベントジャンル</th><td><%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "選択してください") %></td>
      <th>サブタイプ</th>
      <td>
        <%= f.collection_select(:secondgenre_id, [], :id, :name, prompt: "選択してください") %>
      </td>
    </tr>
    <tr>
      <th>タイトル</th><td><%= f.text_field :title, placeholder: "必須" %></td>
      <th>紹介コメント</th><td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <th>日時</th><td><input type="datetime-local" name="daytime" min="2017-04-01T00:00" max="2023-12-31T23:59"></td>
      <th>所要時間</th><td><%= f.number_field :all_time %> 時間程度</td>
    </tr>
    <tr>
      <th>会費</th><td><%= f.number_field :fee %> 円</td>
      <th>場所</th><td><%= f.text_area :place %></td>
    </tr>
    <tr>
      <th>持ち物</th><td><%= f.text_area :preparation %></td>
      <th>予定人数</th><td><%= f.number_field :limit_number %></td>
    </tr>
    <tr>
      <th>備考</th><td><%= f.text_area :remarks %></td>
      <th>＊質問回答</th><td><%= f.text_area :second_remarks, placeholder: "イベント投稿後、質問があった場合に回答を付け足してください" %></td>
    </tr>
  </table>
  <%= f.submit 'NEWイベント投稿' %>
  <% end %>
</div>




<script>
    $('#event_genre_id').change(function() {
        var text = $('#event_genre_id option:selected').text();
        var url =  gon.root + "?q=" + text

        $.ajax({
              url: url,
              dataType: "json",
              success: function(data) {


$('#event_secondgenre_id').children().remove();
 $('#event_secondgenre_id').append($("<option>").text("選択してください"));

$.each(data, function(index, val) {


  $('#event_secondgenre_id').append($("<option>").val(val.genre_id).text(val.name));
});

              },
              error: function(data) {
                 console.log(data)
              }
             });

    });


</script>

