<h2>新規登録</h2>
<%= form_with model: @user, url: user_registration_path do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <table class="table">
      <tr>
        <th>姓</th>
        <td>
          <div class="field">
          <%= f.text_field :last_name %>
        </td>
        <th>名</th>
        <td>
        <div class="field">
        <%= f.text_field :first_name %>
        </td>
      </tr>
      <tr>
        <th>ユーザー名</th>
        <td><%= f.text_field :user_name %></td>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </td>
        <th>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </th>
        <td></td>
      </tr>
      <tr>
        <th>パスワード確認</th>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </td>
        <th>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </th>
        <td></td>
      </tr>
      <tr>
        <th>携帯電話番号</th>
        <td><%= f.number_field :phone_number %></td>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th>お住まいの県名</th>
        <td><%= f.text_field :address_free %></td>
        <th>お住まいの市区町村名</th>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <th>自己紹介文</th>
        <td><%= f.text_area :user_introduction %></td>
      </tr>
    </table>

  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>

<style>
  .table {
    width: 100%%;
    text-align: center;
  }
</style>