
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= form_with model: @genre, url: admin_genre_path(@genre) do |f| %>
      <table>
        <tr>
          <th>ジャンル名</th>
    　　　　<th>ジャンルイメージ追加</th>
    　　　　<tr>
    　　　　  <td><%= f.text_field :name %></td>
    　　　　  <td><%= f.file_field :image, accept: "image/*" %></td>
    　　　  </tr>
    　</table>
    　<input class="radius-percent" type="submit" value="変更を更新する">
    　<div class="image">
    　  <% if @genre.image.attached? %>
       <%= image_tag @genre.image, size: "400x300" %>
       <% else %>
       <%= image_tag asset_path('noimage.jpg'), size: "400x300" %>
       <% end %>
    　</div>
    　   <div class="link">
        <%= link_to "ジャンル一覧画面へ", admin_genres_path, class: "btn btn-outline-warning btn-block" %>
        <%= link_to "ジャンル詳細画面へ", admin_genre_path(@genre), class: "btn btn-outline-primary btn-block" %>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tr>
          <th><%= @genre.name %>のジャンル詳細</th>
          <% end %>
        </tr>
      </table>


      <table class="table">
        <tr>
          <th>詳細ジャンル名</th>
        </tr>
        <tr>
          <% @secondgenres.each do |secondgenre| %>
          <td><%= secondgenre.name %></td>
          <td>
            <%= link_to "編集", edit_admin_secondgenre_path(secondgenre), class: "btn btn-outline-success btn-block-xs" %>
            <%= link_to "削除", admin_secondgenre_path(secondgenre), method: :delete, class: "btn btn-outline-danger btn-block-xs" %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<style>
  .image {
    margin-top: 20px;
  }

  .link {
    width: 76.5%;
    margin-left: 20px;
  }
  .radius-percent {
  background-color: darkkhaki;
  color: lemonchiffon;
  border: none;
  border-bottom: solid 3px gray;
  border-radius: 3px;
  box-shadow: 0px 3px 5px lightgray;
  transition: 0.2s;
}

 .radius-percent:active {
   transform: translateY(2px);
 }
</style>
