<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3><strong><%= @genre.name %></strong></h3>
      <div class="genre-image">
        <% if @genre.image.attached? %>
        <%= image_tag @genre.image, size: "400x300" %>
        <% else %>
        <%= image_tag asset_path('noimage.jpg'), size: "400x300" %>
        <% end %>
      </div>
      <div class="link">
        <%= link_to "ジャンル一覧画面へ", admin_genres_path, class: "btn btn-outline-warning btn-block" %>
        <%= link_to "ジャンル編集画面へ", edit_admin_genre_path(@genre), class: "btn btn-outline-success btn-block" %>
      </div>
    </div>
    <div class="col-md-6">
      <table class="table">
        <tr>
          <th>趣味名</th>
          <th><%= form_with model: Secondgenre.new, url: admin_secondgenres_path do |f| %>
          <%= f.text_field :name %>
          <%= f.hidden_field :genre_id, :value => @genre.id %>
          </th>
          <th><%= f.submit '追加' %><% end %></th>
        </tr>
        <tr>
          <% @secondgenres.each do |secondgenre| %>
          <td>
              <%= secondgenre.name %><br>
          </td>
          <td> </td>
          <td> </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<style>
  .row {
    margin-top: 30px;
  }

  .genre-image {
    margin-top: 50px;
  }

  .link {
    width: 76.5%;
    margin-top: 10px;
  }

  h3 {
    background-color: tan;
    text-align: center;
    width: 76%;
  }

</style>