<h2></h2>
<h2><strong>NEW Memories</strong></h2>
<% if @memory.errors.any? %>
<%= @memory.errors.count %>件のエラーが発生しました
<ul>
  <% @memory.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="image">
    　  <% if @memory.image.attached? %>
       <%= image_tag @memory.image, size: "400x300" %>
       <% else %>
       <%= image_tag 'no_image', size: "400x300" %>
       <% end %>
    </div>
  </div>
    <div class="col-md-6">
      <%= form_with model: @memory, url: memories_path do |f| %>
      <table class="table">
        <tr>
          <th>参加イベント</th>
          <!--<td><%#= f.collection_select(:event_id, @events, :id, :title, prompt: "選択してください") %></td>-->
          <td><%= select_tag "memory[event_id]", grouped_options_for_select(@events_select) %>
          </td>
        </tr>
        <tr>
          <th>画像</th>
          <td><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th>タイトル</th>
          <td><%= f.text_field :title, placeholder: "感想タイトル" %></td>
        </tr>
        <tr>
          <th>コメント</th>
          <td><%= f.text_area :comment, placeholder: "感想コメント" %></td>
        </tr>
      </table>
      <input class="radius-percent" type="submit" value="投稿">
      <% end %>
    </div>

<style>

  .image {
  margin-top: 70px;
}
  
  h2 {
  background-color: tan;
  color: lightyellow;
  text-align: center;
}
  
  th {
  background-color: #ede4cd;
  font-size: 15px;
  border:solid 1px antiquewhite;
  text-align: center;
  }
  
  .radius-percent {
  background-color: tan;
  color: lemonchiffon;
  border: none;
  border-bottom: solid 3px gray;
  border-radius: 3px;
  box-shadow: 0px 3px 5px lightgray;
  transition: 0.2s;
}

 .radius-percent:active {
   transform: translateY(2px);
 }
</style>