<h4></h4><h2><strong>ユーザー編集画面</strong></h2>
<div class="edit-user">
  <%= form_with model: @user, url: user_path(@user) do |f| %>
  <% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>
  <table class="table">
    <tr>
      <th>プロフィール画像</th>
      <td><%= f.file_field :image, accept: "image/*" %></td>
    </tr>
      <th>ユーザー名</th>
      <td><%= f.text_field :user_name %></td>
    </tr>
    
    <tr>
      <th>お住まい</th>
      <td><%= f.text_field :address_free %>都道府県 <%= f.text_field :address %>市町村</td>
    </tr>

    <tr>
      <th>メールアドレス</th>
      <td><%= f.email_field :email, autocomplete: "email" %></td>
    </tr>

    <tr>
      <th>電話番号</th>
      <td><%= f.number_field :phone_number %></td>
    </tr>

    <tr>
      <th>自己紹介文</th>
      <td><%= f.text_area :user_introduction %></td>
    </tr>

  </table><input class="radius-percent" type="submit" value="更新する"><% end %>
</div>

<style>
  h2 {
  background-color: tan;
  color: lightyellow;
  text-align: center;
  }
  
  .radius-percent {
  background-color: darkkhaki;
  color: lemonchiffon;
  border: none;
  border-bottom: solid 3px gray;
  border-radius: 3px;
  box-shadow: 0px 3px 5px lightgray;
  transition: 0.2s;
}

 .radius-percent:active {
   transform: translateY(2px);
 }
</style>