<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h4> </h4>
      <h2><strong>Hello! <%= current_user.user_name %> さん</strong></h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 class="button1"><strong><%= link_to "趣味活スケジュール", user_path(current_user), :style=>"color: sienna;" %></strong></h4>
          </div>
          <div class="col-md-6">
            <h4 class="button2"><strong><%= link_to "企画イベント歴", users_my_events_path, :style=>"color: sienna;" %></strong></h4>
          </div>
        </div>
      </div>
      <table class="table" style="font-size : 15px;">
        <tr>
          <th>ステータス</th>
          <th>タイトル</th>
          <th>日程</th>
          <th>企画者</th>
        </tr>
        <% @events.each do |event| %>
        <tr>
          <td><%= event.is_active ? '募集中' : '募集終了' %></td>
          <td><%= link_to event_path(event) do %><%= event.title %><% end %>
          </td>
          <td><%= event.daytime.strftime('%Y年%m月%d日 %H:%M') %></td>
          <td>あなた</td>
        </tr>
        <% end %>
      </table>

    </div>
    <div class="col-md-5">
      <table class="table", border=1 frame="box">
        <tr>
          <th>プロフィール画像</th>
          <td>
          <% if current_user.image.attached? %>
          <%= image_tag current_user.image, size: "100x100" %>
          <% else %>
          <%= image_tag 'no_image', size: "100x100" %>
          <% end %>
          </td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td><%= current_user.user_name %><%= current_user.age %></td>
        </tr>
        <tr>
          <th>お住まい</th>
          <td><%= current_user.address_free %> <%= current_user.address %></td>
        </tr>
        <tr>
          <th>自己紹介文</th>
          <td><%= current_user.user_introduction %></td>
        </tr>
      </table>
      <div class="edit">
        <% if current_user %>
        <%= link_to edit_user_path(current_user), class: "btn btn-secondary btn-block" do %>
        <i class="fas fa-user-cog fa-lg"></i>
        <% end %><% end %>
      </div>
      <h4><strong><%= link_to memories_path, class: "btn1 btn-warning" do %>memory一覧をみる<% end %></strong></h4>
    </div>



<style>
img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 100px;  /* 縦横を同じ値にする */
  height: 100px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

h2 {
  background-color: tan;
  color: lightyellow;
  text-align: center;
}

.table {
  margin-top: 10px;
}
.button1 {
  background-color: wheat;
  color: white;
  text-align: center;
  border-radius: 10%;
}

.button2 {
  background-color: wheat;
  color: white;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  border-radius: 10%;
}

.btn1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 5px;
  padding: 10px 20px;
  width: 100%;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: darkkhaki;
  border-radius: 50vh;
  transition: 0.3s;
}

.link {
  color: white;
}

th {
background-color: #ede4cd;
font-size: 15px;
border:solid 1px antiquewhite;
text-align: center;
}
</style>
