
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <% if @user == current_user %>
      <h4> </h4>
      <h2><strong>Hello! <%= @user.user_name %> さん</strong></h2>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 class="button1"><strong><%= link_to "趣味活スケジュール", user_path(current_user), :style=>"color: sienna;" %></strong></h4>
          </div>
          <div class="col-md-6">
            <h4 class="button2"><strong><%= link_to "企画イベント歴", users_my_events_path, :style=>"color: sienna;" %></strong></h4>
          </div>
        </div>
      </div>
      <table class="table" style="font-size : 15px;">
        <tr>
          <th>ステータス</th>
          <th>タイトル</th>
          <th>日程</th>
          <th>主催者</th>
        </tr>
        <% @event_users.each do |event_user| %>
        <tr>
          <td><strong><%= EventUser.statuses_i18n[event_user.status] %></strong></td>
          <td><%= link_to event_user_path(event_user.id),class: "link" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
          <%= event_user.event.title %><% end %></td>
          <td><%= event_user.event.daytime.strftime('%Y年%m月%d日 %H:%M') %></td>
          <td><%= event_user.event.user.user_name%></td>
        </tr>
        <% end %>
      </table>
      <% else %>
      <h4> </h4>
      <h2><strong><%= @user.user_name %>さんの企画イベント履歴</strong></h2>

      <table class="table">
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>開催日</th>
          <th>場所</th>
          <th></th>
        </tr>
        <% @events.each do |event| %>
        <tr>
          <td><strong><%= event.is_active ? '募集中' : '募集終了' %></strong></td>
          <td><%= link_to event_path(event),class: "link" do %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/></svg>
          <%= event.title %><% end %></td>
          <td><%= event.daytime.strftime('%Y年%m月%d日 %H:%M') %></td>
          <td><%= event.place %></td>
        </tr>
        <% end %>
      </table>
        <% end %>

    </div>
    <div class="col-md-5">
      <table class="table", border=1 frame="box">
        <tr>
          <th>プロフィール画像</th>
          <td>
          <% if @user.image.attached? %>
          <%= image_tag @user.image, size: "100x100" %>
          <% else %>
          <%= image_tag asset_path('noimage.jpg'), size: "100x100" %>
          <% end %>
          </td>
        </tr>
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.user_name %></td>
        </tr>
        <tr>
          <th>お住まい</th>
          <td><%= @user.address_free %> <%= @user.address %></td>
        </tr>
        <tr>
          <th>自己紹介文</th>
          <td><%= @user.user_introduction %></td>
        </tr>
      </table>
      <div class="edit">
        <% if @user == current_user %>
        <%= link_to edit_user_path(@user), class: "btn btn-secondary btn-block" do %>
        <i class="fas fa-user-cog fa-lg"></i>
        <% end %>
      </div>
        <% end %>
    </div>



<style>
img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 100px;  /* 縦横を同じ値にする */
  height: 100px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

h2 {
  background-color: tan;
  color: lightyellow;
  text-align: center;
}

.table {
  margin-top: 10px;
}
.button1 {
  background-color: wheat;
  text-align: center;
  height: 50px;
  padding-top: 10px;
  border-radius: 10%;
}

.button2 {
  background-color: wheat;
  text-align: center;
  border-radius: 10%;
}

.btn1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 5px;
  padding: 10px 20px;
  width: 100%;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: darkkhaki;
  border-radius: 5vh;
  transition: 0.3s;
}

th {
background-color: #ede4cd;
font-size: 15px;
border:solid 1px antiquewhite;
text-align: center;
}

.link {
  text-decoration: none;
  color: #494a41;
}
</style>