<div class="back">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <tr>
          <th>ジャンルで検索</th>
        </tr>
        <tr>
          <td>
            <%= search_form_for @q, url: search_events_path do |f| %>
            <%= f.collection_select :name_eq, @genres, :name, :name, prompt: "選択してください" %>
            <input class="radius-percent-20" type="submit" value="検索">
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5><strong>ユーザー同士で趣味を共有できる趣味活応援サイト<br>
      趣味を探している人、趣味を仲間と楽しみたい人、休日の予定を埋めたい人<br>
      ～ Hobyleから始めよう ～</strong></h5>
    </div>
  </div>
</div>
<div class="contents">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="list-1">
          <%= image_tag asset_path('events.jpg'), size: "200x200" %>
          <%= link_to events_path, class: "btn btn-outline-warning btn-block" do %>
          <strong>近日開催のイベント</strong><% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="list-2">
          <%= image_tag asset_path('memories.jpg'), size: "200x200" %><br>
          <%= link_to memories_path, class: "btn btn-outline-warning btn-block" do %>
          <strong>みんなの趣味活</strong><% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="list-3">
          <%= image_tag asset_path('schedule.jpg'), size: "200x200" %><br>
          <%= link_to new_event_path, class: "btn btn-outline-warning btn-block" do %>
          <strong>趣味活イベントを企画</strong><% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<style>
  h3 {
    padding-top: 30px;

  table {
    padding-top: 30px;
  }

  }
  h5 {
    display: block;
    text-align: center;
    margin-top: 80px;
    padding: 10px;
    font-family: sans-serif;
  }

  .radius-percent-20 {
  background-color: darkkhaki;
  color: lemonchiffon;
  border: none;
  border-bottom: solid 3px gray;
  border-radius: 3px;
  box-shadow: 0px 3px 5px lightgray;
  transition: 0.2s;
}

 .radius-percent-20:active {
   transform: translateY(2px);
 }


  .list-1 {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    object-fit: cover;
    text-align: center;
  }

  .list-2 {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    object-fit: cover;
    text-align: center;
  }

  .list-3 {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    object-fit: cover;
    text-align: center;
  }

img {
  border-radius: 50%;
  object-fit: cover;
  img-align: center;
  text-align: center;

  }



</style>