<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4> </h4>
      <h2><strong><%= @user.user_name %> さんの参加済みイベント</strong></h2>
      <table class="table">
        <% if @user %>ほんとうはif文でstatusがmemory(参加済み)になっていたら、下記表示を行いたい
        <tr>
          <th>ジャンル</th>
          <th>タイトル</th>
          <th>日時</th>
          <th>主催者</th>
          <th></th>
        </tr>
        <% @event_users.each do |event_user| %>
        <tr>
          <td><%= event_user.event.genre.name %></td>
          <td><%= event_user.event.title %></td>
          <td><%= event_user.event.daytime.strftime('%Y年%m月%d日 %H:%M') %></td>
          <td><%= event_user.event.user.user_name %></td>
          <td></td>
        </tr>
        <% end %>
      </table>
      <% else %>
      <table class="table">
        <tr>
          <th>ジャンル</th>
          <th>タイトル</th>
          <th>日時</th>
          <th>主催者</th>
          <th></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>


<style>

.table {
  margin-top: 10px;
}

h2 {
      background-color: darkkhaki;
      text-align: center;
      color: lemonchiffon;
      padding: 5px;
      width: 100%;
    }
</style>