<div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr><h1> </h1></tr>
          <tr><h2><strong><%= @event_user.event.title %></strong></h2></tr>
          <tr>
            <th>主催者</th>
            <td><%= link_to user_path(@user) do %><%= @event_user.event.user.user_name %><% end %></td>
          </tr>
          <tr>
            <th>日時</th>
            <td><%= @event_user.event.daytime.strftime('%Y年%m月%d日 %H:%M') %></td>
          </tr>
          <tr>
            <th>場所</th>
            <td><%= @event_user.event.place %></td>
          </tr>
          <tr>
            <th>人数</th>
            <td><%= @event_user.event.limit_number %> 人</td>
          </tr>
          <tr>
            <th>時間幅</th>
            <td><%= @event_user.event.all_time %> 時間</td>
          </tr>
          <tr>
            <th>会費</th>
            <td><%= @event_user.event.fee %> 円程度</td>
          </tr>
          <tr>
            <th>持ち物</th>
            <td><%= @event_user.event.preparation %></td>
          </tr>
          <tr>
            <th>備考</th>
            <td><%= @event_user.event.remarks %></td>
          </tr>
          <tr>
            <th>質問回答</th>
            <td><%= @event_user.event.second_remarks %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <% if @user %>投稿ユーザーにしかステータスは出さないようにしたい
        <table class="table", border=1 frame="box">
          <tr><h1> </h1></tr>
          <tr><h2><strong>参加者コメント</strong></h2></tr>
          <tr>
            <th>ユーザー</th>
            <th>コメント・質問</th>
            <th>ステータス</th>
          </tr>
          <% @event_users.each do |event_user| %>
          <tr>
            <td><%= event_user.user.user_name %></td>
            <td><%= event_user.application_comment %></td>
            <td><%= EventUser.statuses_i18n[event_user.status] %></td>
          </tr>
          <% end %>
        </table>

        <% else %>
        <table class="table", border=1 frame="box">
          <tr><h1> </h1></tr>
          <tr><h2><strong>参加者コメント</strong></h2></tr>
          <tr>
            <th>ユーザー</th>
            <th>コメント・質問</th>
          </tr>
          <% @event_users.each do |event_user| %>
          <tr>
            <td><%= event_user.user.user_name %></td>
            <td><%= event_user.application_comment %></td>
          </tr>
          <% end %>
        </table>
        <% end %>

        <% if current_user %>
        <table class="table">
          <tr><h3><strong><%= current_user.user_name %> さんの<br>参加申請内容</strong></h3>
          <%= form_with model: @event_user, url: event_users_path, method: :post do |f| %>
          </tr>
          <tr>
            <th>ステータス</th>
            <td><%= EventUser.statuses_i18n[@event_user.status] %></td>
          </tr>
          <tr>
            <th>人数</th>
            <td><%= @event_user.member_count %>
            </td>
          </tr>
          <tr>
            <th>コメント・質問</th>
            <td><%= @event_user.application_comment %>
            </td>
          </tr>
        </table>
        <%= link_to "編集する",edit_event_user_path(@event_user), class: "btn btn-outline-success btn-block-xs" %>
          <% end %>
          <% else %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <style>
    h2 {
      background-color: tan;
      color: floralwhite;
      text-align: center;
    }

    .button {
      color: lemonchiffon;
      padding: 5px;
      border: 0;
      position: relative;
    }

    .table {
      margin-top: 10px;

    }

    h3 {
      background-color: darkkhaki;
      text-align: center;
      color: lemonchiffon;
      padding: 5px;
      width: 100%;
    }

    h4  {
      text-align: center;
    }

    img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}
</style>