<div class="container">
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr><h1> </h1></tr>
          <tr><h2><strong><%= @event_user.event.title %></strong></h2></tr>
          <tr>
            <th>主催者</th>
            <td><%= link_to user_path(@user) do %><%= @event_user.event.user.user_name %><% end %></td>
          </tr>
          <tr>
            <th>日時</th>
            <td><%= @event_user.event.daytime.strftime('%Y年%m月%d日 %H:%M') %></td>
          </tr>
          <tr>
            <th>場所</th>
            <td><%= @event_user.event.place %></td>
          </tr>
          <tr>
            <th>人数</th>
            <td><%= @event_user.event.limit_number %> 人</td>
          </tr>
          <tr>
            <th>時間幅</th>
            <td><%= @event_user.event.all_time %> 時間</td>
          </tr>
          <tr>
            <th>会費</th>
            <td><%= @event_user.event.fee %> 円程度</td>
          </tr>
          <tr>
            <th>持ち物</th>
            <td><%= @event_user.event.preparation %></td>
          </tr>
          <tr>
            <th>備考</th>
            <td><%= @event_user.event.remarks %></td>
          </tr>
          <tr>
            <th>質問回答</th>
            <td><%= @event_user.event.second_remarks %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <% if @user %>
        <table class="table", border=1 frame="box" style="font-size : 15px;">
          <tr><h1> </h1></tr>
          <tr><h2><strong>参加者コメント</strong></h2></tr>
          <tr>
            <th>ユーザー</th>
            <th>コメント・質問</th>
            <th>ステータス</th>
          </tr>
          <% @event_users.each do |event_user| %>
          <tr>
            <td><%= event_user.user.user_name %></td>
            <td><%= event_user.application_comment %></td>
            <td class="check" id="participated_<%=event_user.id %>">
              <%= render "participated_form", event_user:event_user %>
            </td>
          <% end %>
          </tr>
        </table>
        <table class="table">
          <tr>
            <th>予定人数</th><td><%= @event_user.event.limit_number %>人</td>
            <th>今の参加人数</th>
            <td><%= @event.event_users.sum(:member_count) %>人</td>
          </tr>
        </table>
        <% if @event_user.user == current_user %>
        <h6><strong>あなたのコメント▼</strong></h6>
          <div style="padding: 10px; margin-bottom: 10px; border: 1px dotted darkkhaki; border-radius: 5px;">
            <h6><strong><%= @event_user.application_comment %></strong></h6>
          </div>
        <% else %>
        <% end %>
        <% else %>
        <table class="table", border=1 frame="box">
          <tr><h1> </h1></tr>
          <tr><h2><strong>参加者コメント</strong></h2></tr>
          <tr>
            <th>ユーザー</th>
            <th>コメント・質問</th>
          </tr>
          <% @event_users.each do |event_user| %>
          <tr>
            <td><%= event_user.user.user_name %></td>
            <td><%= event_user.application_comment %></td>
          </tr>
          <% end %>
        </table>
        <% end %>

        <% if @event_user %>
        <% elsif current_user %>
        <table class="table">
          <tr><h3><strong><%= current_user.user_name %> さんの<br>参加申請内容</strong></h3>
          </tr>
          <tr>
            <th>ステータス</th>
            <td><strong><%= EventUser.statuses_i18n[@event_user.status] %></strong>
            <% if @event_user.status == "participated" %>
            <td id="participated_<%=@event_user.id %>">
            <%= render "participated_form", event_user:@event_user %>
            </td>
            <% elsif @event_user.status == "memory" %>
            <div class="memory">
              <%= link_to new_memory_path do %>New Memory投稿‼<% end %>
            </div>
            <% end %>
          </tr>
          <tr>
            <th>人数</th>
            <td><%= @event_user.member_count %>
            </td>
          </tr>
          <tr>
            <th>コメント・質問</th>
            <td><%= @event_user.application_comment %>
            </td>
          </tr>
        </table>
          <% else %>
          <% end %>
        </table>
      </div>
    </div>
  </div>

<style>
h2 {
  background-color: tan;
  color: floralwhite;
  text-align: center;
}

.button {
  color: lemonchiffon;
  padding: 5px;
  border: 0;
  position: relative;
}

.table {
  margin-top: 10px;

}

h3 {
  background-color: darkkhaki;
  text-align: center;
  color: lemonchiffon;
  padding: 5px;
  width: 100%;
}

h4  {
  text-align: center;
}

img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}

.memory {
  margin-left: 0px;
}
th {
background-color: #ede4cd;
font-size: 15px;
border:solid 1px antiquewhite;
text-align: center;
}

</style>