<!DOCTYPE html>
<html>
  <head>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <title>Hobyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand p-3" href="/"><h4><strong>Hobyle</strong></h4></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'イベント投稿', new_event_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'イベント一覧', events_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Memories', memories_path, class: 'nav-link text-white' %>
            </li>
            <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "ジャンル一覧", admin_genres_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'イベント一覧', events_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '会員一覧', admin_users_path, class: 'nav-link text-white' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'イベント一覧', events_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Memories', memories_path, class: 'nav-link text-white' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="row p-0 m-0">

      <div class="col-md-2 p-0 m-0">
        <div class="main-visual">
          <h3><strong>New Event</strong></h3>
          <div class="main-contents">
            <h4><strong>アウトドア</strong></h4>
            <% @events_outdoor.each do |events_outdoor| %>
            <% if user_signed_in? %>
            <ol>
              <li><strong><%= link_to event_path(events_outdoor),class: "link" do %><%= events_outdoor.title %><% end %></strong></li>
            </ol>
            <% else %>
            <ol>
              <li><strong><%= events_outdoor.title %></strong></li>
            </ol>
            <% end %>
            <% end %>
          </div>
          <div class="main-contents">
            <h4><strong>インドア</strong></h4>
            <% @events_indoor.each do |events_indoor| %>
            <% if user_signed_in? %>
            <ol>
              <li><strong><%= link_to event_path(events_indoor),class: "link" do %><%= events_indoor.title %><% end %></strong></li>
            </ol>
            <% else %>
            <ol>
              <li><strong><%= events_indoor.title %></strong></li>
            </ol>
            <% end %>
            <% end %>
          </div>
          <div class="main-contents">
            <h4><strong>スポーツ</strong></h4>
            <% @events_sport.each do |events_sport| %>
            <% if user_signed_in? %>
            <ol>
              <li><strong><%= link_to event_path(events_sport),class: "link" do %><%= events_sport.title %><% end %></strong></li>
            </ol>
            <% else %>
            <ol>
              <li><strong><%= events_sport.title %></strong></li>
            </ol>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-10 p-0 m-0">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
    <!--<main class="mb-auto">-->
    <!--  <div class="main-visual">-->
    <!--    <h4>アウトドア・インドア・その他から１つずつ新着イベント羅列</h4>-->

    <!--  </div>-->
    <!--<%#= yield %>-->
    <!--</main>-->
    <footer class="text-white pt-5 pb-4 fixed-bottom">
      <% if admin_signed_in? %>

      <%= link_to "Admin Log Out", destroy_admin_session_path, method: :delete, class: "btn btn-outline-danger btn-sm btn-block" %>
      <% else %>
      <%= link_to "Admin Log In", new_admin_session_path, class: "btn btn-outline-warning btn-sm btn-block" %>
      <% end %>
    </footer>
  </body>

  <style>
  .main-visual {
    text-align: center;
  }
  .main-contents {
    display: block;
    height: 170px;
  }

  .main-contents > h4 {
    background-color: wheat;
    color: sienna;
  }

  h3 {
      background-color: darkkhaki;
      text-align: center;
      color: lemonchiffon;
    }

  .col-md-10 {
      background-color: oldlace;
    }

  ol {
  padding: 0;
  position: relative;
  text-align: left;
  }

  ol li {
  color: black;
  border-left: solid 8px orange;/*左側の線*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;

  }

   .link {
    text-decoration: none;
    color: #494a41;
  }
  </style>
</html>